* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-container {
   
    background-color: rgba(12, 18, 36, 1);
    position: relative; 
    width: 1433px; 
    height: 226px;
}
body{
    background-color: #0C1224;
    ;
}
